.benefits {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 47px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.benefits__item {
  text-align: center;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 56px;
    margin: 0 auto 10px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      position: absolute;
      top: 3px;
      margin: 0;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 17px;
    }
  }

  &--speed::before {
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='56' viewBox='0 0 50 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23 4H31V7H28V10.0213C31.8152 10.1846 35.3896 11.2772 38.5027 13.0786C40.354 11.1476 44.7551 13.2459 43.2635 16.7365C43.2309 16.704 43.1983 16.6716 43.1656 16.6393C47.3853 20.8089 50 26.5991 50 33C50 45.7025 39.7025 56 27 56C14.2975 56 4 45.7025 4 33C4 26.3297 6.83949 20.3226 11.3757 16.1215C11.1588 16.3222 10.9457 16.5272 10.7365 16.7364C8.70719 13.7075 13.3199 10.5817 15.4975 13.0784C18.6105 11.2771 22.1849 10.1846 26 10.0213V7H23V4Z' fill='%23F0EBFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26 1H20V2L22 2L24 2H26V1ZM24 3H26H27V2V1V0H26H20H19V1V2V3H20H22V6.02135C18.5463 6.1691 15.2898 7.07848 12.3944 8.58582L12.2544 8.42496C10.7163 6.6569 8.39521 6.98255 6.95484 8.02395C6.21517 8.55874 5.60253 9.33813 5.35204 10.2775C5.09438 11.2438 5.24251 12.3031 5.90574 13.293L6.02865 13.4765C2.28444 17.5676 0 23.017 0 29C0 41.7025 10.2975 52 23 52C35.7025 52 46 41.7025 46 29C46 23.0401 43.7331 17.6096 40.0145 13.5238L40.183 13.1295C40.6454 12.0474 40.6748 11.0021 40.3518 10.087C40.0339 9.1862 39.4018 8.48773 38.6665 8.02632C37.2591 7.14319 35.1326 6.97177 33.777 8.39054L33.5955 8.58053C30.7025 7.07636 27.4497 6.16892 24 6.02135V3ZM23 7C19.1406 7 15.5133 7.99379 12.36 9.73944L12 9.94732C10.5856 10.7639 9.26738 11.735 8.06924 12.8421C3.72198 16.8612 1 22.6127 1 29C1 41.1503 10.8497 51 23 51C35.1503 51 45 41.1503 45 29C45 22.9249 42.5376 17.4248 38.5563 13.4436C38.4319 13.3192 38.306 13.1963 38.1787 13.0749C36.9153 11.8707 35.5126 10.8207 34 9.94741L33.6357 9.7371C30.4835 7.99291 26.8577 7 23 7ZM11.4975 9.07845C10.0109 9.93867 8.62944 10.9605 7.37728 12.12C7.15986 12.3212 6.94622 12.5267 6.73652 12.7364C6.51811 12.4104 6.37664 12.0833 6.30079 11.7622C5.75443 9.44925 8.61277 7.44804 10.6466 8.42332C10.9539 8.57068 11.2424 8.78599 11.4975 9.07845ZM34.5027 9.07856C36.0672 9.98386 37.5152 11.0682 38.8186 12.3035C38.9688 12.4458 39.1171 12.5902 39.2635 12.7365C39.43 12.3468 39.523 11.9745 39.5544 11.6232C39.7632 9.28719 37.2441 7.88062 35.4507 8.48214C35.0978 8.60048 34.7731 8.79655 34.5027 9.07856ZM23 31C24.1046 31 25 30.1046 25 29C25 28.2049 24.536 27.5182 23.8641 27.1958L22.9501 27.0006C21.8686 27.0271 21 27.9121 21 29C21 30.1046 21.8954 31 23 31ZM22.3638 26.0676L21.0176 21.1316L20.9778 20.9855L21.0257 20.8419L22.5257 16.3419L23 14.9189L23.4743 16.3419L24.9743 20.8419L25.0222 20.9855L24.9824 21.1316L23.6362 26.0676C23.7657 26.0956 23.8921 26.1319 24.0148 26.176L31.5642 12.7549L32.4358 13.2451L24.8861 26.6669C25.5656 27.2169 26 28.0577 26 29C26 30.6569 24.6569 32 23 32C21.3431 32 20 30.6569 20 29C20 27.5614 21.0125 26.3594 22.3638 26.0676ZM22.0222 21.0145L23 24.5997L23.9778 21.0145L23 18.0811L22.0222 21.0145Z' fill='%237859CF'/%3E%3C/svg%3E");
  }

  &--ease::before {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='56' viewBox='0 0 52 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4H52L48 48L28 56L8 48L4 4Z' fill='%23F0EBFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.00412 0H0L0.0909091 1L4 44L24 52L44 44L47.9091 1L48 0H46.9959H1.00412ZM1.09503 1L1.45867 5H5H5.50198H6.00396H6.9H10.7H14.5H18.3H22.1H25.9H29.7H33.5H37.3H41.1H41.996H42.498H43H46.5413L46.905 1H1.09503ZM41.9069 6H41.1H37.3H33.5H29.7H25.9H22.1H18.3H14.5H10.7H6.9H6.09307L6.19397 7.1324L5.69594 7.17678L5.19792 7.22115L5.08911 6H1.54958L4.94041 43.2991L24 50.923L43.0596 43.2991L46.4504 6H42.9109L42.8021 7.22115L42.3041 7.17678L41.806 7.1324L41.9069 6ZM6.09178 11.6191L5.59375 11.6635L5.98958 16.1058L6.48761 16.0614L6.98564 16.017L6.5898 11.5747L6.09178 11.6191ZM6.88344 20.5037L6.38542 20.5481L6.78125 24.9904L7.27928 24.946L7.7773 24.9016L7.38147 20.4593L6.88344 20.5037ZM7.67511 29.3883L7.17708 29.4327L7.57292 33.875L8.07094 33.8306L8.56897 33.7862L8.17314 29.3439L7.67511 29.3883ZM8.46678 38.2729L7.96875 38.3173L8.16667 40.5385L10.1458 41.3462L10.3348 40.8832L10.5237 40.4203L9.10864 39.8428L8.9648 38.2286L8.46678 38.2729ZM14.2931 42.4986L14.1042 42.9615L18.0625 44.5769L18.2514 44.114L18.4403 43.6511L14.482 42.0357L14.2931 42.4986ZM22.2098 45.7294L22.0208 46.1923L24 47L25.9792 46.1923L25.7902 45.7294L25.6013 45.2664L24 45.9199L22.3987 45.2664L22.2098 45.7294ZM29.7486 44.114L29.9375 44.5769L33.8958 42.9615L33.7069 42.4986L33.518 42.0357L29.5597 43.6511L29.7486 44.114ZM37.6652 40.8832L37.8542 41.3462L39.8333 40.5385L40.0313 38.3173L39.5332 38.2729L39.0352 38.2286L38.8914 39.8428L37.4763 40.4203L37.6652 40.8832ZM39.9291 33.8306L40.4271 33.875L40.8229 29.4327L40.3249 29.3883L39.8269 29.3439L39.431 33.7862L39.9291 33.8306ZM40.7207 24.946L41.2188 24.9904L41.6146 20.5481L41.1166 20.5037L40.6185 20.4593L40.2227 24.9016L40.7207 24.946ZM41.5124 16.0614L42.0104 16.1058L42.4062 11.6635L41.9082 11.6191L41.4102 11.5747L41.0144 16.017L41.5124 16.0614Z' fill='%237859CF'/%3E%3C/svg%3E");
  }

  &--energy::before {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='56' viewBox='0 0 42 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.9731 35.2L38.1345 4L4 30.6753L19.9731 35.2ZM26.0271 24.8L7.86572 56L42.0002 29.3247L26.0271 24.8Z' fill='%23F0EBFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34.1345 0L0 26.6753L15.9731 31.2L3.86555 52.0001L38 25.3248L22.0269 20.8001L34.1345 0ZM35.8319 25.75L20.5143 21.4109L30.6566 3.98704L2.1681 26.2501L17.4858 30.5892L7.34345 48.013L35.8319 25.75Z' fill='%237859CF'/%3E%3C/svg%3E");
  }

  &--eco::before {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='56' viewBox='0 0 52 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M41.7068 22.1225C42.4764 15.5574 43.2041 9.34979 48.9997 4C22.5072 3.99988 14.8468 12.128 10.9998 17.9999C2.45825 31.0373 10.0851 43.6704 11.7106 46.0864C10.7615 47.9699 9.8453 49.8228 8.96853 51.596C8.28756 52.9732 7.63037 54.3023 7 55.5603L7.88103 55.9999C8.51647 54.7318 9.17882 53.3919 9.86491 52.0041C10.713 50.2884 11.5975 48.4993 12.5122 46.6817C15.1065 47.5486 26.9646 50.8651 34.5 41.9999C40.1568 35.3449 40.9519 28.5617 41.7068 22.1225Z' fill='%23F0EBFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.23221 41.055C12.1899 33.2582 16.686 25.0948 21.2668 19.9999L22 20.6562C17.4314 25.7376 12.9304 33.9532 8.96782 41.779C9.34578 41.9019 9.88834 42.0652 10.5614 42.2326C11.9567 42.5795 13.8987 42.9402 16.0898 43.0003C20.4744 43.1204 25.753 42.0406 29.7381 37.3522C35.1982 30.9285 35.9631 24.4063 36.7206 17.9463L36.7357 17.8172C37.4173 12.0063 38.12 6.18297 42.6108 1.02289C30.8214 1.2525 23.1299 3.18456 17.9438 5.69784C12.4434 8.36348 9.69156 11.7161 7.83626 14.5479C3.2831 21.4976 3.51823 28.3097 4.90266 33.4262C5.59642 35.9902 6.57807 38.1203 7.38638 39.6085C7.70612 40.1972 7.99777 40.6837 8.23221 41.055ZM7.7106 42.0864C6.08506 39.6704 -1.54175 27.0373 6.9998 13.9999C10.7758 8.23634 18.2259 0.299055 43.5524 0.00822987C44.0285 0.00276494 44.5109 -2.58931e-06 44.9997 1.81779e-09C44.6406 0.331444 44.301 0.666183 43.9796 1.0041C39.1138 6.12034 38.4287 11.9641 37.7068 18.1225C36.952 24.5617 36.1568 31.3449 30.5 37.9999C22.9646 46.8651 11.1065 43.5486 8.51217 42.6817C7.59746 44.4993 6.71305 46.2884 5.86491 48.0041C5.17882 49.3919 4.51647 50.7318 3.88103 51.9999L3 51.5603C3.63037 50.3023 4.28756 48.9732 4.96853 47.596C5.8453 45.8228 6.76149 43.9699 7.7106 42.0864Z' fill='%237859CF'/%3E%3C/svg%3E");
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: block;
    position: relative;
    text-align: left;
  }
}

.benefits__item p {

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-left: 72px;
  }
}

.benefits__title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 36px;
  }
}

.benefits__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 24px;
    font-size: 16px;
  }
}