$base-white: #ffffff;
$base-grey: #bdbdbd;
$base-black: #333333;
$base-primary: #7859cf;
$base-secondary: #f0ebff;

$primary-opacity: rgba(120, 89, 207, 0.25);
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-grey: #e2e2e2;

$background-lightest-grey: #f8f8f8;
$background-flat-white: #f3ebe1;
$background-lavender-latte: #eae6fc;
$background-espresso: #e5e6e8;

$custom-font: "Montserrat", "Verdana", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;
